MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=juliesufi
MYSQL_DEV_PROXY_ORIGIN=http://127.0.0.1:8788
ADMIN_PASSCODE=
ADMIN_SESSION_SECRET=
INSTAGRAM_ENCRYPTION_KEY=
